/* HEADINGS (h1, h2, h3) are: font-family: 'Quattrocento', serif; */
/* COPY TEXT (h4, h5, h6, p, a, input) are: font-family: 'Montserrat', sans-serif; */

/* Overall Styling */
body {
  background-color: aliceblue;
}
h1, h2, h3 {
  font-family: 'Quattrocento', serif;
}
h4, h5, h6, p, a, input, button {
  font-family: 'Montserrat', sans-serif;
}
/* End Overall Styling */

/* Container Styling */
.container-fluid {
  width: 70%;
  border: 1px solid red;
  background: white;
}
/* end Container Styling */

/* Message Wrapper Styling */
.messages-wrapper {
  width: 100%;
  border: 2px solid black;
  min-height: 300px;
  margin: 0px 0px 15px 0px;
  padding: 5px;
}
/* end Message Wrapper Styling */

/* Individual Messages Styling */
.message {
  border: 1px solid lightslategrey;
  padding: 5px;
  background-color: rgb(238, 238, 238);
}
.btn-message-edit,
.btn-message-delete {
  margin: 3px;
}
.message-padding-left {
  padding-left: 20px;
}
/* end Individual Messages Styling */

/* dummy/test styling here */
div {
  /* border: .5px solid red; */
}