/* HEADINGS (h1, h2, h3) are: font-family: 'Quattrocento', serif; */
/* COPY TEXT (h4, h5, h6, p, a, input) are: font-family: 'Montserrat', sans-serif; */

/* Overall Styling */
body {
  background-color: aliceblue;
}
h1, h2, h3 {
  font-family: 'Quattrocento', serif;
}
h4, h5, h6, p, a, input, button,
span, label, form, ul {
  font-family: 'Montserrat', sans-serif;
}
/* End Overall Styling */

/* navbar styles */
.nav-logo {
  height: 100%;
  margin: 0;
}
.navbar-brand {
  padding: 0;
}

#chat-entry {
  padding-right: 30px;
}  

@media (min-width: 1145px) {
  #chat-entry {
    width: 400px;
  }
}
  
@media (min-width: 1245px) {
  #chat-entry {
    width: 500px;
  }
}

@media (min-width: 1345px) {
  #chat-entry {
    width: 600px;
  }
}

/* end navbar styles */

/* Container Styling */
.message-overall-div {
  width: 70%;
  border: 4px solid black;
  border-radius: 6px;
  background: white;
}

.message-overall-div h3 {
  display: inline-block;
}
/* end Container Styling */

/* Message Wrapper Styling */
.messages-wrapper {
  width: 100%;
  border: 2px solid black;
  border-radius: 4px;
  min-height: 300px;
  margin: 0px 0px 15px 0px;
  padding: 5px;
}

#clear-all {
  float: right;
  margin-top: 10px;
}
/* end Message Wrapper Styling */

/* Individual Messages Styling */
.message {
  border: 1px solid lightslategrey;
  border-radius: 4px;
  padding: 5px;
  background-color: rgb(238, 238, 238);
  box-sizing: border-box;
}
.btn-message-edit,
.btn-message-delete {
  margin: 3px;
}
.message-padding-left {
  padding-left: 20px;
}
.ignore-click {
  pointer-events: none;
}
/* end Individual Messages Styling */

.highlight{
  border: 3px solid red;
}

#myModal {
  z-index: 998;
}

.modal-backdrop {
  z-index: 997;
}

.color-picker-btn {
  height: 50px;;
  width: 150px;
}

.modal-body {
  height: 190px;
}

.preview-btn-container, .sample-container, .btn-container {
  height: 165px;
}

.sample-container {
  border: 2px solid black;
}
/* Custom Emoji Picker Styles */

.lsx-emojipicker-container:after {
  display: none;
}

.picker {
  display: inline;
  cursor: pointer;
  position: relative;
  left: -30px;
}

/* End Emoji Picker Styles */

/* Large Text Button Styles */

h5.msg-large-text {
  font-size: 18pt;
}

h6.msg-large-text {
  font-size: 14pt;
}

/* End Large Text Button Styles */